.wrapper {
	width: 100%;
}

.header {
	font-size: 0.36rem;
	text-align: center;
	padding: .25rem 0;
}

.container {
	margin: 0 0.3rem 0 0.5rem;

}

.container-head {
	display: flex;

	justify-content: space-between;
	padding: 0.45rem 0 0.35rem 0;
}

.hd-img {
	display: inline-block;
	width: 0.3rem;
	height: 0.28rem;
	background: url(../img/cin_lihe.png) no-repeat center/cover;
	margin-right: 0.2rem;
}

.hd-left {
	font-size: 0.28rem;
	font-weight: 400;
	line-height: .24rem;
}

.hd-right a {
	font-size: 0.24rem;
	color: #565656;
	font-weight: lighter;
}

.item1 {
	margin-bottom: .25rem;
}

img {
	width: 100%;
}

.item2 {
	padding-left: 43.2%;
	padding-right: 46.2%;
	/* padding:0 3.1rem 0  2.9rem; */
	margin-bottom: .45rem;
	width: 10.4%;
}

.container2 {
	margin: 0 0.5rem;
}

.bb10 {
	margin-bottom: .3rem;
}

.subtitle {
	display: flex;
	justify-content: space-between;
	font-size: .24rem;
	color: #565656;
	font-weight: lighter;
	line-height: .16rem;
	margin-bottom: .4rem;
}

.sub-rig {
	padding-right: .2rem;
}

.sub-img {
	display: inline-block;
	width: .26rem;
	height: .26rem;
	margin-top: -.01rem;
}

.vip-item {}

.vip-item ul {
	display: flex;
	justify-content: space-between;
	align-content: center;
	flex-wrap: wrap;


}

.vip-item li {

	width: 3rem;
	height: 2.65rem;
	border: 1px solid #ccc;
	border-radius: .1rem;
	margin-bottom: 0.3rem;
	box-shadow: 0.02rem 0.02rem 0.2rem #CCCCCC;
}

.font1 {
	font-size: .3rem;
}

.font2 {
	font-size: .48rem;
	font-size: 900;
}

.font3 {
	font-size: .2rem;
	color: #ccc;
}

.vip-img {
	width: .55rem;
	height: .55rem;
}

.vip-top {
	padding: .3rem .27rem .15rem .3rem;
}

.vip-bottom {
	border-top: 1px solid #ccc;
	padding: .2rem .27rem .3rem .3rem;
}

.bot-img {
	margin: 0 auto;
	width: .35rem;
	height: .35rem;
	line-height: .25rem;
}

.col1 {
	color: #CCCCCC;
}

.col2 {
	color: burlywood;
}

.col3 {
	color: #c6cee6;
}

.col5 {
	color: #4cdff1;
}

.col4 {
	color: #ffde27;
}

.col6 {
	color: #5c4cf1;
}

.col7 {
	color: #c44cf1;
}

.col8 {
	color: #f14ce3;
}
.container2-bot{
	font-size: .22rem;
	color: #878787;
	text-align: center;
	padding: .3rem 0;
}
.fotter{
	border-top: 1px solid #CCCCCC;
	padding: 0.33rem .63rem;
	
}
.cot-font2{
	font-size: .42rem;
	font-weight: bolder;
}
button{
	border: none;
	width: 1.5rem;
	
	background: #69be49;
	color: #fff;
	border-radius: .09rem;
	font-size: .3rem;
	padding: .18rem .45rem;
}