.header {

	padding: .25rem .3rem;
	text-align: left;
	background-color: #21292c;
}

@font-face {
	font-family: b;
	src: url(../font/webfont.ttf);
}

.header p:first-child {
	font-size: .40rem;
	color: #fff;
}

.header p:last-child {
	font-size: .30rem;
	color: #6e7377;
}

body {
	text-align: center;
}

img {

	width: 100%;
}

.main-img {
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.font p {
	font-size: .4rem;

}

.font {
	color: #09bb07;
}

.price {
	font-size: 1.2rem;
	font-family: b;
	margin: .3rem 0;
}

.sub-font {
	font-size: 0.36rem;
	color: #878787;
	line-height: .42rem;
	margin: 0 .4rem 0.3rem;
	border: 1px solid #bbb;
	display: flex;
	justify-content: space-between;
	border-left: none;
	border-right: none;
	padding: .36rem 0;

}

button {
	border: none;
	font-size: .36rem;
	color: #FFFFFF;
	background: #09bb07;
	padding: 0.25rem 3.0rem;
	width: 100%;

}

.but {
	margin: .8rem .3rem 3.6rem;
}
