



img {
	width: 100%;
}



.header {


	display: flex;
}

.header p {
	font-size: 0.36rem;
	padding: 0.2rem 0 .3rem 0;
	color: #000000;
	margin: 0 auto;
	justify-content: space-between;
	font-weight: 400;

}

.item1 {
	position: relative;
	margin-bottom: 0.6rem;
}

section .item1>img {
	width: 100%;
}

.item1-font1 {
	width: 53%;
	position: absolute;
	top: 35%;
	right: 0.3rem;
}

.container {
	margin: 0 .45rem;
}

.item2 {
	margin-bottom: 0.5rem;
	position: relative;

}

.guan {
	position: absolute;
	width: 0.52rem;
	height: 0.48rem;
	top: -0.2rem;
	right: -0.2rem;
}

.item3,
.item4,
.item5,
.item6,
.item7,
.item8,
.item9,
.item10,
.item11,
.item12,
.item13 {
	margin-bottom: 0.45rem;
}

fotter {
	display: flex;
	font-size: .28rem;
	line-height: ;
	justify-content: space-around;
	padding: 0 1.6rem;
}

fotter>div>a {
	font-size: .28rem;
	color: #000000;
	font-weight: 900;
	padding-bottom:0.6rem ;
	font-family: webfont1;
	
}
